<?xml version="1.0"?>
<launch>
  	
  	<node name="Oracle" pkg="exp_robotics_ass1_4949035" type="oracle.py" respawn="false" output="screen"></node>
  	<node name="Initialization" pkg="exp_robotics_ass1_4949035" type="Initialize_values.py" respawn="false" output="screen"></node>
  	<node name="state_machine" pkg="exp_robotics_ass1_4949035" type="state_machine.py" respawn="false" output="screen"></node>

</launch>